$primary-color: #f5f5f5;
$secondary-color: #deb887;
$ref-color: #3a3b3c;
$show-home-image: true;
$home-image: url(../images/background.jpg);
$background-opacity: 0.7;
$logo-img: url(../images/KD_white.png);
$logo-img-sticky: url(../images/KD_wood.png);

@mixin easeOut {
  transition: all 0.3s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(#3a3b3c, $background-opacity);
      }
    }
  }
}

//Media queries
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media only screen and (max-width: 750px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 751px) and (max-width: 1190px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (max-width: 1191px) {
    @content;
  }
}
