@import "config";
@import "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: 20px;
}

html,
body {
  overflow-x: hidden;
}

body {
  @include background();
  color: whitesmoke;
  height: 100%;
  margin: 0;
  font-family: "ProximaNova";
  line-height: 1.5;
}

.secondary {
  color: $secondary-color;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    padding: 0.2rem 1rem;
    margin-bottom: 2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

//nav section middle one
nav {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  z-index: 999;
  @include easeOut();
}

nav.sticky {
  background: lighten($secondary-color, 10);

  .logo img {
    height: 8rem;
    padding-top: 1rem;
  }

  a {
    color: black;
  }
}

nav .navbar {
  width: 90%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo img {
  height: 8rem;
  padding-top: 1rem;

  &:hover {
    color: white;
    @include easeOut();
  }
}

nav .navbar .menu1 {
  display: flex;
  position: relative;

  li {
    list-style: none;
    margin: 0 8px;
  }

  li.active > a {
    color: #333;
    font-weight: 500;
  }

  a {
    font-size: 18px;
    font-weight: 500;
    padding: 6px 0;
    &:hover {
      color: white;
      @include easeOut();
    }
  }
}

nav.sticky .menu-btn .btn-line {
  background: $ref-color;
}

nav .menu-btn,
.navbar .menu1 .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  @include easeOut();
  opacity: 0;
  display: none;
}

//home nav section
.home_nav {
  min-height: 100vh;
  width: 100%;
  justify-content: center;

  .home-content {
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 4rem;
    min-height: 100vh;

    .icons {
      margin-top: 1rem;
    }
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }

    &#home {
      overflow: hidden;
      h1 {
        margin-top: 20vh;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//about-nav section
.about_nav {
  @include background();
  padding: 4rem;
  min-height: 100vh;
  //background: rgba($primary-color, 0.9);
}

//projects-nav section
.projects_nav {
  padding: 4rem;
  min-height: 100vh;
  background: rgba($primary-color, 0.9);
}

//experience-nav section
.experience_nav1 {
  padding: 4rem;
  min-height: 100vh;
  background: rgba($primary-color, 0.9);
}

//skills-nav section
.skills_nav {
  padding: 4rem;
  min-height: 100vh;
  background: rgba(#3a3b3c, $background-opacity);
}

//contact-nav section
.contact_nav {
  padding: 4rem;
  background: rgba(#3a3b3c, $background-opacity);
}

//about section

.experience-desc {
  //width: 75%;
  margin-left: 10%;
  line-height: 2;

  &.li {
    line-height: 1;
  }
  ul {
    &#work {
      display: none;
    }
  }
}

.experience-resume {
  width: 25%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin-top: 1rem;

  a {
    display: inline;
    letter-spacing: 0;
    cursor: pointer;
    font-size: 15px;
    border: 3px solid #fff;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
    margin-right: 3.5rem;
    border-radius: 10%;
    color: #fff;
    background-color: #333;
    border-color: rgba(209, 33, 33, 0.616);

    &:hover {
      padding: 0.5rem 1rem;
      background-color: $secondary-color;
      color: #333;
    }
  }
}

//skills-section
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  justify-items: center;

  img {
    border-radius: 30%;
    width: 11rem;
    height: 11rem;
  }
}

.skills_nav .skills-content .more-skills {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

//contact-page
.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  background: rgba($primary-color, 0.9);
  opacity: 1;
  border-radius: 3%;

  img {
    width: 90%;
    border-radius: 3%;
  }
  .contact-photo {
    justify-items: flex-start;
  }

  .contact-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    line-height: 2.5;
    width: 450px;
    padding: 3%;

    .desc-size {
      font-size: 1.5rem;
      font-family: monospace;
    }

    .desc-size a {
      color: black;
      //@include easeOut();
    }
  }
}

//Button styles
.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10%;
}

.btn-dark {
  @extend .btn;
  background: darken(#3a3b3c, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

//footer-section
footer {
  &#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken(#3a3b3c, 10);
    color: #fff;
  }
}

//scroll-to-top button css
.scroll-button a {
  position: fixed;
  bottom: 3%;
  right: 3%;
  background-color: darken($secondary-color, 5);
  padding: 1rem;
  font-size: 18px;
  border-radius: 6px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #fff;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #333;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container .mySlides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container .mySlides .project-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(#3a3b3c, 0.2);

  img {
    width: 50%;
    border-radius: 7%;
  }
}

.container .mySlides .project-desc {
  text-align: center;

  h2 {
    color: $secondary-color;
  }
  p {
    margin: 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  background: rgba(#3a3b3c, 0.8);

  .showProjects-btn {
    display: inline-flex;
    gap: 50px;

    .projectDemo-btn {
      @extend .btn;
      background: rgba(27, 106, 209, 0.959);
      color: #fff;
      font-weight: 500;
    }

    .projectGit-btn {
      @extend .btn;
      background: #333;
      color: #fff;
      font-weight: 500;
    }
  }

  .project-desc-sub {
    padding: 15px;
  }
}
@import "mobile";
